$base-font-size: 100%;
// assets path
$assets: '/Portals/_default/Skins/SC/assets/dist';

// colors
$gallery: #ecebeb;
$mercury: #e3e2e1;
$cloud: #cccbca;
$gray: #928f8f;
$dovegray: #656565;
$bigstone: #13243b;
$codgray: #1a1818;
$yelloworange: #febd3d;
$fuelyellow: #efa81d;
$astronaut: #254d77;
$cello: #1d3959;
$fiord: #3d5069;
$bluebayoux: #4d6680;

// fonts
