.main-content,
.footer-cta {
  .btn-primary,
  .btn-secondary,
  .btn-tertiary {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 8px 30px 10px;
    @include fontsize(16 30);
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    background: $323232;

    &:visited {
      color: white;
    }

    &:focus,
    &:hover {
      color: white;
      border: 0;
      background: #444444;
    }
  }

  .btn-secondary {
    color: #666666;
    background: #FF8000;

    &:visited {
      color: #666666;
    }

    &:hover,
    &:focus {
      color: #666666;
      background: $fuelyellow;
    }
  }

  .btn-tertiary {
    color: #666666;
    border: 2px solid #dedede;
    background: transparent;

    &:visited {
      color: #666666;
    }

    &:hover,
    &:focus {
      color: #323232;
      border: 2px solid #323232;
      background: transparent;
    }

    &.btn-light {
      color: white;
      border-color: rgba(#f2f2f2, 0.5);

      &:visited {
        color: white;
      }

      &:hover,
      &:focus {
        color: white;
        border-color: #FF8000;
      }
    }
  }
}