* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0 auto;
  font-family: $standard;
  font-size: 100%;
  background: #dedede;

  -webkit-overflow-scrolling: touch;
}

.clearfix:after {
  display: table;
  clear: both;
  content: '';
}

a {
  color: blue;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:visited {
    color: blue;
  }

  &:hover,
  &:focus {
    color: purple;
    text-decoration: underline;
  }
}

input {
  appearance: none;
}

.element-invisible {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.clear {
  zoom: 1;

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}
