// tables
@include large-up
{
    table
    {
        position: relative;

        width: 100%;
        margin-bottom: 40px;

        border-collapse: collapse;

        thead
        {
            // border-top-left-radius: 6px;
            // border-top-right-radius: 6px;
            white-space: nowrap;

            color: white;
            background: #222;

            @include fontsize(18 24);

            th
            {
                padding: 10px 20px;

                text-align: left;
                // border-right: 2px solid $dark-monza;

                border-right: 1px solid rgba(white, .1);

                &:first-child
                {
                    // border-top-left-radius: 6px;
                }

                &:last-child
                {
                    // border-top-right-radius: 6px;
                    border-right: 0;
                }
            }
        }

        tbody
        {
            // @include lato-regular;
            @include fontsize(18 24);
            // color: $mineshaft;

            tr
            {
                &:nth-child(odd)
                {
                    // background: white;
                    background: rgba(#323232, .35);
                }

                &:nth-child(even)
                {
                    // background: $alabaster;
                    background: rgba(#323232, .6);
                }

                td
                {
                    position: relative;

                    padding: 10px 20px;
                    // border-bottom: 2px solid #323232;

                    word-wrap: break-word;

                    border-right: 1px solid #323232;

                    &:first-child
                    {
                        padding-left: 22px;
                        // border-left: 0;

                        // &:before {
                        //   position: absolute;
                        //   top: 0;
                        //   left: 0;
                        //   width: 2px;
                        //   height: 100%;
                        //   background: #323232;
                        //   content: '';
                        // }
                    }

                    &:last-child
                    {
                        padding-right: 22px;

                        border-right: 0;

                        // &:after {
                        //   position: absolute;
                        //   top: 0;
                        //   right: 0;
                        //   width: 2px;
                        //   height: 100%;
                        //   background: #323232;
                        //   content: '';
                        // }
                    }
                }
            }
        }
    }
}
@include mq(0 $large)
{
    table.responsive-table
    {
        @include fontsize(16 21);
        // border-left: 2px solid #323232;
        // border-bottom: 2px solid #323232;
        // border-right: 2px solid #323232;

        tbody
        {
            tr
            {
                &:nth-child(odd)
                {
                    background: rgba(#323232, .35);
                }

                &:nth-child(even)
                {
                    background: rgba(#323232, .6);

                    td:first-child:before,
                    td:last-child:after
                    {
                        display: block;
                    }
                }

                td
                {
                    position: relative;

                    padding: 0;
                }
            }

            tr
            {
            }
        }

        .cell-heading,
        .cell-content
        {
            padding: 5px 10px;
        }

        .cell-heading
        {
            color: white;
            background: #222;

            @include fontsize(18 24);
        }
    }
}
